* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: minmax(2rem, 2fr) minmax(0, 1200px) minmax(2rem, 2fr);

  > * {
    grid-column: 2;
  }
}
form {
  label {
    span {
      color: rgb(139, 138, 138);
    }
  }
}
#tooltip {
  display: flex;
  justify-content: center;
  span {
    padding: 1rem 2rem;
    color: white;
  }
  .ok {
    background: green;
  }
  .error {
    background: red;
  }
}

nav {
  height: 3rem;
  padding-inline: 1rem;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: white;
  }
}

footer {
  height: 3rem;
  background-color: gray;
}
