<form mix-post="/api-create-travel" autocomplete="off" id="form_create_travel">
    <div>
        <label>Title</label>
        <p><span id="TRAVEL_TITLE_MIN">{{x.TRAVEL_TITLE_MIN}}</span> to <span id="TRAVEL_TITLE_MAX">{{x.TRAVEL_TITLE_MAX}}</span> characters</p>
        <input value="aaaa" type="text" aria-label="travel title" placeholder="Travel title" id="travel_title" name="travel_title"  mix-validate="{{x.REGEX_TRAVEL_TITLE}}" >
    </div>
    <div>
        <label> Travel date from</label>
        <p> choose dates between</p> 
        <p><span>{{x.SHOW_DATE_FROM_MIN}}</span> and <span>{{x.SHOW_DATE_FROM_MAX}}</span></p>
        <input  value="2026-03-20 14:24" type="datetime-local" aria-label="travel date from" id="travel_date_from"  name="travel_date_from" mix-validate="{{x.REGEX_TRAVEL_DATE_FROM}}" min="{{x.DATE_FROM_MIN}}" max="{{x.DATE_FROM_MAX}}">
    </div>
    <div>
        <label> Travel date to</label>
        <p> choose dates between</p> 
        <p><span>{{x.SHOW_DATE_TO_MIN}}</span> and <span>{{x.SHOW_DATE_TO_MAX}}</span></p>
        <input  value="2026-03-30 13:24" type="datetime-local" aria-label="travel date to"  id="travel_date_to"     name="travel_date_to"      mix-validate="{{x.REGEX_TRAVEL_DATE_TO}}" min="{{x.DATE_TO_MIN}}" max="{{x.DATE_TO_MAX}}">
    </div>
    <div>
        <label> Description </label>
         <p><span id="TRAVEL_LOCATION_MIN">{{x.TRAVEL_LOCATION_MIN}}</span> to <span id="TRAVEL_LOCATION_MAX">{{x.TRAVEL_LOCATION_MAX}}</span> characters</p>
        <input  value="aaaa" type="text" aria-label="travel description"  placeholder="Travel description"  id="travel_description"   name="travel_description" mix-validate="{{x.REGEX_TRAVEL_DESCRIPTTION}}">
    </div>
    <div>
        <label> Location </label>
        <p><span id="TRAVEL_COUNTRY_MIN">{{x.TRAVEL_COUNTRY_MIN}}</span> to <span id="TRAVEL_COUNTRY_MAX">{{x.TRAVEL_COUNTRY_MAX}}</span> characters</p>
        <input value="aaaa" type="text" aria-label="travel location"  placeholder="Travel location"  id="travel_location"   name="travel_location"    mix-validate="{{x.REGEX_TRAVEL_LOCATION}}">
    </div>
    <div>
        <label> Country </label>
        <p><span id="TRAVEL_DESCRIPTTION_MIN">{{x.TRAVEL_DESCRIPTTION_MIN}}</span> to <span id="TRAVEL_DESCRIPTTION_MAX">{{x.TRAVEL_DESCRIPTTION_MAX}}</span> characters</p>
        <input value="aaaa" type="text" aria-label="travel country"  placeholder="Travel country"  id="travel_country"   name="travel_country"    mix-validate="{{x.REGEX_TRAVEL_COUNTRY}}">
    </div>
    <button class="button">CREATE</button>
</form>