<form mix-post="/api-create-user" autocomplete="off" id="form_signup">
    <div>
    <label> Firstname <span> {{x.USER_FIRST_NAME_MIN}} to {{x.USER_FIRST_NAME_MAX}} characters</span> </label>
        <input type="text" aria-label="user firstname" placeholder="user firstname" name="user_first_name"  mix-validate="{{x.REGEX_USER_FIRST_NAME}}">
    </div>
    <div>
        <label> Last name <span> {{x.USER_LAST_NAME_MIN}} to {{x.USER_LAST_NAME_MAX}} characters</span> </label>
        <input type="text" aria-label="user lastname"  placeholder="user lastname"  name="user_last_name"   mix-validate="{{x.REGEX_USER_LAST_NAME}}">
    </div>
    <div>
        <label> Email </label>
        <input type="text" aria-label="email"          placeholder="user email"     name="user_email"       mix-validate="{{x.REGEX_USER_EMAIL}}">
    </div>
    <div>
        <label> Password <span> {{x.USER_PASSWORD_MIN}} to {{x.USER_PASSWORD_MAX}} characters</span> </label>
        <input type="text" aria-label="user password"  placeholder="user password"  name="user_password"    mix-validate="{{x.REGEX_USER_PASSWORD}}">
    </div>
    <button>Signup</button>
</form>