
{% include "_header.html" %}

<form action="">
    <input type="text" aria-label="user firstname" placeholder="user firstname" name="user_first_name">
    <input type="text" aria-label="user lastname" placeholder="user lastname" name="user_last_name">
    <input type="text" aria-label="email" placeholder="user email" name="user_email" id="">
    <input type="text" aria-label="user password" placeholder="user password" name="user_password">
    <button>Signup</button>
</form>


{% include "_footer.html" %}